{% extends "base.html" %}

{% load i18n %} 
{% load static %}


<!-- Extra head tag -->
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "pdfs/css/styles.css" %}">

    {% if devoir.html_file %}
        
        {{ devoir.get_html_content_head|safe }}

        <!-- This style is required to remove the overflow and the absolute position of the html file -->
        <style type="text/css">
            #page-container {
                background-image: none;
                background-color: #FFFFFFFF;
                overflow: unset;
                position: unset;
            }
            .pf {
            }
        </style>

    {% endif %}

{% endblock extra_head %}


{% block navbar-fixed %}
    {# This block will remove the 'fixed-top' class from the navbar in templates/base.html #}
{% endblock navbar-fixed %}
{% block spacing %}
    {# This block will remove the 'spacing' div after the navbar in templates/base.html #}
{% endblock spacing %}


<!-- Inside body tag -->
{% block content %}
    <!-- Exam sub-navbar -->
    <div class="container-fluid sticky-top custom-sub-navbar bg-purple-info-linear py-3 shadow">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-4 d-flex align-items-center">
                <i class="fa fa-long-arrow-left text-white pr-3" onclick="location.href='{{ request.META.HTTP_REFERER }}'" style="cursor: pointer;"></i>
                <span class="text-white text-nowrap overflow-auto">
                    {% with level=devoir.get_level section=devoir.get_section subject=devoir.get_subject category=devoir.get_category %}
                        
                        {% if level %}
                            <a href="{% url 'pdfs:level-detail' level_slug=level.slug %}">{{ level }}</a><span class="text-warning"> /</span>
                            {% if section %}
                                {% if section.name != 'tout' %}
                                    <a href="{% url 'pdfs:level-section-detail' level_slug=level.slug section_slug=section.slug %}">{{ section.name }}</a><span class="text-warning"> /</span>
                                {% endif %}
                                {% if subject %}
                                    <a href="{% url 'pdfs:level-section-subject-detail' level_slug=level.slug section_slug=section.slug subject_slug=subject.slug %}">{{ subject }}</a><span class="text-warning"> /</span>
                                    {% if category %}
                                        <a href="{% url 'pdfs:level-section-subject-category-detail' level_slug=level.slug section_slug=section.slug subject_slug=subject.slug category_slug=category.slug %}">{{ category }}</a><span class="text-warning"> /</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                    {% endwith %}
                </span>
            </div>
            
            <div class="col-6 col-lg-5 d-none d-lg-flex align-items-center">
                <h4 class="text-white" style="font-weight: 500">{{ devoir.title }}</h4>
            </div>

            <div class="col-12 col-md-5 col-lg-3 d-none d-md-flex justify-content-center align-items-center">
                <button class="btn bg-white py-2 px-4" style="border-radius: 100px;" onclick="location.href='{% url 'pdfs:devoir-download' pdf_slug=devoir.slug %}'">
                    <i class="fa fa-file-download pr-2" style="color: #17a2b8;"></i>
                    {% trans "Télécharger" %}
                </button>
                <small class="px-2 text-dark-4">{% trans "ou" %}</small>
                <a href="#" onclick="printExam(this, '{% url "pdfs:devoir-download" pdf_slug=devoir.slug %}')">
                    <span id="print-text">Imprimer</span>
                    <span id="print-spinners" style="display: none;">
                        <div class="spinner-grow spinner-grow-sm pl-2" role="status" >
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow spinner-grow-sm pl-2" role="status" >
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow spinner-grow-sm pl-2" role="status" >
                            <span class="sr-only">Loading...</span>
                        </div>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div  class="container-fluid d-block custom-sub-navbar d-md-none bg-dark py-3 shadow">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <button class="btn bg-white py-2 px-4" style="border-radius: 100px;" onclick="location.href='{% url 'pdfs:devoir-download' pdf_slug=devoir.slug %}'">
                    <i class="fa fa-file-download pr-2 text-dark"-2></i>
                    {% trans "Télécharger" %}
                </button>
                <small class="px-2 text-dark-4">{% trans "ou" %}</small>
                <a href="#" onclick="printExam(this, '{% url "pdfs:devoir-download" pdf_slug=devoir.slug %}')">
                    <span id="print-text">Imprimer</span>
                    <span id="print-spinners" style="display: none;">
                        <div class="spinner-grow spinner-grow-sm pl-2" role="status" >
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow spinner-grow-sm pl-2" role="status" >
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow spinner-grow-sm pl-2" role="status" >
                            <span class="sr-only">Loading...</span>
                        </div>
                    </span>
                </a>
            </div>
        </div>
    </div>

    {% if devoir.html_file %}
            
        <!-- These DIVs are required so the HTML file's script runs without errors -->
        <div id="sidebar" style="width: 0; height: 0;">
            <div id="outline">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="width: 512px;
        overflow-x: auto;
        overflow-y: hidden;">
                    {{ devoir.get_html_content_body|safe }}
                </div>
            </div>
        </div>
     
        <div class="loading-indicator">
        </div>

    {% else %}
        <div class="container-fluid pt-5">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <i class="fa fa-smile-beam text-info mb-4" style="font-size: 128px"></i>
                    <h2>
                        Sorry, No live version for this exams is avaible for now.
                    </h2>
                    <h4>
                        You can download it as a PDF file and open it offline.
                    </h4>
                </div>
                <button class="btn btn-info py-3 px-4 m-auto" style="border-radius: 100px;">
                    <i class="fa fa-file-download pr-2 text-white"></i>
                    {% trans "Télécharger" %}
                </button>
            </div>
        </div>
    {% endif %}

{% endblock content %}


<!-- Extra body tag -->
{% block extra_body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.5.0/print.js" integrity="sha512-j4gEMMRxGKV6WrHIPj0NmIVBRS0UTYU8tiV/q5X1Hd5iFngs1grFuu15np/tFP70tynShfcBoPHb0wR8Ag8S1Q==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "pdfs/js/script.js" %}"></script>
{% endblock extra_body %}
