{% extends "base.html" %}

{% load i18n %} 
{% load static %}


<!-- Extra head tag -->
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "pdfs/css/styles.css" %}">
{% endblock extra_head %}


{% block navbar-fixed %}
    {# This block will remove the 'fixed-top' class from the navbar in templates/base.html #}
{% endblock navbar-fixed %}
{% block spacing %}
    {# This block will remove the 'spacing' div after the navbar in templates/base.html #}
{% endblock spacing %}


<!-- Inside body tag -->
{% block content %}

    <!-- sub-navbar -->
    <div class="container-fluid sticky-top custom-sub-navbar bg-purple-info-linear py-3 shadow">
        <div class="row">
            <div class="col-10 col-md-7 col-lg-4 d-flex align-items-center">
                <i class="fa fa-long-arrow-left text-white pr-3" onclick="location.href='{{ request.META.HTTP_REFERER }}'" style="cursor: pointer;"></i>
                <span class="text-white text-nowrap overflow-auto">
                    {% if level %}
                        <a class="text-white" href="{% url 'pdfs:level-detail' level_slug=level.slug %}">{{ level }}</a><span class="text-warning"> /</span>
                        {% if section %}
                            {% if section.name != 'tout' %}
                                <a class="text-white" href="{% url 'pdfs:level-section-detail' level_slug=level.slug section_slug=section.slug %}">{{ section.name }}</a><span class="text-warning"> /</span>
                            {% endif %}
                            {% if subject %}
                                <a class="text-white" href="{% url 'pdfs:level-section-subject-detail' level_slug=level.slug section_slug=section.slug subject_slug=subject.slug %}">{{ subject }}</a><span class="text-warning"> /</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </span>
            </div>
            
            <div class="col-6 col-lg-4 d-none d-lg-flex justify-content-center align-items-center">
                <h4 class="text-white" style="font-weight: 500">{{ category.name|capfirst }}</h4>
            </div>

            <div class="col-2 col-md-5 col-lg-4 d-flex justify-content-end align-items-center">
                <button class="btn bg-white py-1 py-md-2 px-2 px-md-4 mr-0 mr-md-4" style="border-radius: 100px;" onclick="location.href='{% url 'home:search' %}'">
                    <i class="fa fa-search pr-0 pr-md-2" style="color: #17a2b8;"></i>
                    <span class="d-none d-md-inline">{% trans "Rechercher" %}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-0 py-5 d-flex justify-content-center align-items-center" style="background-color: #FDCE86;margin-top: 72px;">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-center">{{ subject.name|capfirst }}</h1>
            </div>

            <div class="col-12 d-none d-md-block text-center mt-3">
                {% with categories=category.get_all_exluding_self %}
                    <span class="mx-4">
                        <a class="text-purple-2" href="{% url 'pdfs:level-section-subject-category-detail' level_slug=level.slug section_slug=section.slug subject_slug=subject.slug category_slug=categories.0.slug %}">
                            {{ categories.0.name }}
                        </a>
                    </span>
                    <span class="mx-4" style="font-weight: 600;">
                        <span style="font-size: 18px">{{ category.name }}</span>
                        <small class="text-secondary">({{ pdfs_count }})</small>
                    </span>
                    <span class="mx-4">
                        <a class="text-purple-2" href="{% url 'pdfs:level-section-subject-category-detail' level_slug=level.slug section_slug=section.slug subject_slug=subject.slug category_slug=categories.1.slug %}">
                            {{ categories.1.name }}
                        </a>
                    </span>
                {% endwith %}
                <br>
                <div class="selected-category mx-auto mt-1"></div>
            </div>
        </div>
    </div>

    <div class="container mt-0 mt-md-5">
        <div class="row">

            <div class="col-12 text-left mt-3">
                <!-- List Content -->
                {% if not pdfs %}
                    <div class="row mx-5 py-4">
                        <div class="col-12 text-center">
                            <i class="fa fa-exclamation text-info mb-4" style="font-size: 128px"></i>
                            <h3 class="text-dark-2 text-center">{% trans "Désolé, nous n'avons trouvé aucun fichier correspondant à votre recherche." %}</h3>
                        </div>
                    </div>
                {% endif %}
                <div class="row py-4">

                    {% for pdf in pdfs %}
                        {% include "pdfs/pdf-card.html" with pdf=pdf %}
                    {% endfor %}

                </div>
            </div>
            <!-- Pagination(24 per page): Prev / Next-->
            {% if pdfs.has_other_pages %}
                <div class="col-12">
                    <nav aria-label="PDFs Page navigation">
                        <ul class="pagination justify-content-center">
                            <!-- Précédent -->
                            {% if pdfs.has_previous %}
                                <li class="page-item">
                                    <a class="page-link text-center text-info" style="width: 100px" href="?page={{ pdfs.previous_page_number }}" tabindex="-1">
                                        {% trans 'Précédent' %}
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link text-info" href="?page={{ pdfs.previous_page_number }}">{{ pdfs.previous_page_number }}</a></li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link text-center" style="width: 100px" href="#">
                                        {% trans 'Précédent' %}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item"><a class="page-link bg-info text-white disabled">{{ pdfs.number }}</a></li>
                            <!-- Suivant -->
                            {% if pdfs.has_next %}
                                <li class="page-item"><a class="page-link text-info" href="?page={{ pdfs.next_page_number }}">{{ pdfs.next_page_number }}</a></li>
                                {% if pdfs.number == 1 %}
                                    <li class="page-item"><a class="page-link text-info" href="{{ request.path }}?{% if request.GET.q %}{{ encoded_query }}&{% endif %}page=3">3</a></li>
                                {% endif %}
                                <li class="page-item">
                                    <a class="page-link text-center text-info" style="width: 100px" href="?page={{ pdfs.next_page_number }}">
                                        {% trans 'Suivant' %}
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link text-center" style="width: 100px" href="#">
                                        {% trans 'Suivant' %}
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}


<!-- Extra body tag -->
{% block extra_body %}
    
{% endblock extra_body %}