{% extends "base.html" %}

{% load i18n %} 
{% load static %}


<!-- Extra head tag -->
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "pdfs/css/styles.css" %}">
{% endblock extra_head %}


{% block navbar-fixed %}
    {# This block will remove the 'fixed-top' class from the navbar in templates/base.html #}
{% endblock navbar-fixed %}
{% block spacing %}
    {# This block will remove the 'spacing' div after the navbar in templates/base.html #}
{% endblock spacing %}


<!-- Inside body tag -->
{% block content %}
    <!-- Exam sub-navbar -->
    <div class="container-fluid sticky-top bg-purple-info-linear custom-sub-navbar py-3 shadow">
        <div class="row">
            <div class="col-3 d-none d-md-block">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <h4 class="text-white" style="font-weight: 500">{{ level.name|capfirst }}</h4>
            </div>
            <div class="col-3 d-none d-md-flex justify-content-center align-items-center">
                <button class="btn bg-white py-2 px-4" style="border-radius: 100px;" onclick="location.href='{% url 'home:search' %}'">
                    <i class="fa fa-search pr-2" style="color: #17a2b8;"></i>
                    {% trans "Rechercher" %}
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid d-block d-md-none custom-sub-navbar bg-dark py-3 shadow">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <button class="btn bg-white py-2 px-4" style="border-radius: 100px;" onclick="location.href='{% url 'home:search' %}'">
                    <i class="fa fa-search pr-2" style="color: #17a2b8;"></i>
                    {% trans "Rechercher" %}
                </button>
            </div>
        </div>
    </div>


    <div class="container mt-5 pt-5" style="background-color: #FFF1FD;">
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h3>{{ level.name|capfirst }}</h3>
            </div>

            <div class="col-12 text-left mt-3 px-0 px-md-5">
                <!-- List Header -->
                <div class="row bg-white mx-0 mx-md-5 py-4 table-head">
                    <div class="col-2 d-none d-md-flex align-items-center"><p class="mb-0">{% trans "Niveau" %}</p></div>
                    <div class="col-4 d-flex align-items-center"><p class="mb-0">{% trans "Matière" %}</p></div>
                    <div class="col-6 d-flex align-items-center"><p class="mb-0">{% trans "Catégories" %}</p></div>
                </div>
                <!-- List Content -->
                {% if not level.subjects %}
                    <div class="row mx-0 mx-md-5 py-4 table-row">
                        <div class="col-12 text-center">
                            <i class="fa fa-exclamation text-info mb-4" style="font-size: 128px"></i>
                            <h3 class="text-dark-2 text-center">{% trans "Désolé, nous n'avons trouvé aucun fichier correspondant à votre recherche." %}</h3>
                        </div>
                    </div>
                {% endif %}
                {% for sbj in level.subjects.all %}
                    
                    <div class="row mx-0 mx-md-5 py-4 table-row">
                        <div class="col-2 d-none d-md-block">
                            {{ level.name|default:'-' }}
                        </div>
                        <div class="col-4">
                            <a class="text-info category-tab-link" href="{% url 'pdfs:level-section-subject-detail' level_slug=level.slug section_slug='tout' subject_slug=sbj.slug %}">
                                {{ sbj.name|default:'-' }}
                            </a>
                        </div>
                        <div class="col-2 col-md-1">
                            <a class="text-info category-tab-link" href="{% url 'pdfs:level-section-subject-category-detail' level_slug=level.slug section_slug='tout' subject_slug=sbj.slug category_slug='devoirs' %}">
                                {% trans "Devoirs" %}
                            </a>
                        </div>
                        <div class="col-1">
                            <span><i class="fa fa-circle fa-xs text-dark-3 mx-auto"></i></span>
                        </div>
                        <div class="col-2 col-md-1">
                            <a class="text-info category-tab-link" href="{% url 'pdfs:level-section-subject-category-detail' level_slug=level.slug section_slug='tout' subject_slug=sbj.slug category_slug='series' %}">
                                {% trans "Séries" %}
                            </a>
                        </div>
                        <div class="col-1">
                            <span><i class="fa fa-circle fa-xs text-dark-3 mx-auto"></i></span>
                        </div>
                        <div class="col-2 col-md-1">
                            <a class="text-info category-tab-link" href="{% url 'pdfs:level-section-subject-category-detail' level_slug=level.slug section_slug='tout' subject_slug=sbj.slug category_slug='cours' %}">
                                {% trans "Cours" %}
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}


<!-- Extra body tag -->
{% block extra_body %}
    
{% endblock extra_body %}