{% load i18n %}

<div  class="row mt-5 pt-0 pt-md-5 d-flex justify-content-center">
    <div class="col-12">
        <h1 class="text-center">
        top 3 des examens les plus populaires
        </h1>
        <p class="text-center mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
            adipiscing
        </p>
        <div class="row">
            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="card" style="width: 20rem;">
                                <img src="https://static.docsity.com/documents_pages/2019/12/29/f1ac3942e0688f19f1bcb165735f37ee.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center mt-4 mb-4">Devoir Math</h5>
                                    <p class="card-text">
                                        <div class="row">
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                Avec correction
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                En ligne format
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                PDF format
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                Telechargable
                                            </div>
                                        </div>
                                    </p>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-outline-purple-2 mb-4 mt-3">{% translate "Sélectionner" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="card" style="width: 20rem;">
                                <img src="https://ar.webmanagercenter.com/wp-content/uploads/2017/06/%5E5D31A38A7E27B455922B68277C9A2DB46EEDFE51390B12F247%5Epimgpsh_fullsize_distr-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center mt-4 mb-4">Devoir Philosophie</h5>
                                    <p class="card-text">
                                        <div class="row">
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                Avec correction
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                En ligne format
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                PDF format
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                Telechargable
                                            </div>
                                        </div>
                                    </p>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-outline-purple-2 mb-4 mt-4">{% translate "Sélectionner" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="card" style="width: 20rem;">
                                <img src="https://www.alloschool.com/assets/documents/course-473/upload-51313/0003-big.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center mt-4 mb-4">Devoir Allemand</h5>
                                    <p class="card-text">
                                        <div class="row">
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                Avec correction
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                En ligne format
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                PDF format
                                            </div>
                                            
                                            <div class="col-12 pl-4 mb-3">
                                                <i class="fa fa-check mr-2 p-2 pb-1 text-success" style="font-size: 12px;"></i>
                                                Telechargable
                                            </div>
                                        </div>
                                    </p>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-purple-2 mb-4 mt-2">{% translate "Sélectionner" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev w-auto d-flex d-lg-none" href="#recipeCarousel" role="button" data-slide="prev">
                    <span class="bg-dark border border-dark rounded-circle p-3 px-4" aria-hidden="true"><i class="fa fa-2x fa-angle-left"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto d-flex d-lg-none" href="#recipeCarousel" role="button" data-slide="next">
                    <span class="bg-dark border border-dark rounded-circle p-3 px-4" aria-hidden="true"><i class="fa fa-2x fa-angle-right"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>