# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy 
.mypy_cache/
.DS_Store
*.sqlite3
*.pyc
*.db
*.pid

# django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Django stuff:
*.log
local_settings.py

#media folder

**/media/**

