.search-container {

}
.search-container .dropdown-toggle::after {
    display: none !important;
}
.search-container input:focus,
.search-container .form-control:focus{
    box-shadow: none;
    border-color: #35354F;
}
.search-container .btn-outline-purple-1 {
    background-color: #FFFFFF00;
    color: #35354F;
    border-color: #ddd;
    border-radius: 0!important;
    box-shadow: none!important;
    padding-right: 0!important;
    padding-left: 0!important;
}
.search-container .btn-outline-purple-1:hover  {
    background-color: #35354F;
    border-color: #35354F;
    color: #FFFFFF;
}
.search-container .dropdown-item {
    background-color: white;
    color: var(--dark);
    cursor: pointer;
}
.search-container .dropdown-item:hover {
    background-color: #35354F;
    color: var(--white);
}
.tt-suggestion {
    padding: 10px 5px;
}