body {
    font-family: 'Rubik', sans-serif;
    background: #f4f4f4;
}
nav {
    /* Fixing navbar over content */
    margin-bottom: 40px;
}
.navbar-nav li{
    font-size: 16px;
    margin: 0 15px;
}
.navbar-nav li a{
    font-size: 16px;
}
.navbar-nav .dropdown-menu {
}
.navbar-nav .dropdown-menu a {
}
.navbar-nav .dropdown-menu a:hover {
}

.bg-dark-purple {
    background-color: #35354F;
}
.bg-black {
    background-color: #282b2e!important;
}
.text-dark-purple {
    color: #35354F;
}

/* Footer Styles */
footer {
    margin-top: 100px;
    background-color: #fff;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color: var(--dark);
}
footer hr {
    border-top-color:#bbb;
    opacity:0.5
}
footer hr.small {
    margin:20px 0
}
footer h6 {
    color: var(--dark);
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
footer a {
    color:#737373;
}
footer a:hover {
    color:#3366cc;
    text-decoration:none;
}
footer ul li {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    margin-top: 13px;
}
.footer-links {
    padding-left:0;
    list-style:none
}
.footer-links li {
    display:block
}
.footer-links a {
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li {
    display:inline-block
}

/* buttons */
.btn {
    border-radius: 0px;
}
.btn-primary {
  color: #ffffff; 
  background-color: #4452FE; 
  border-color: #4452FE; 
  padding: 7px 30px;
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #ffffff; 
  background-color: #2F39B1; 
  border-color: #4452FE; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #4452FE; 
  border-color: #4452FE; 
} 
 
.btn-primary .badge { 
  color: #4452FE; 
  background-color: #ffffff; 
}

.nav-link-active {
    font-weight: 500;
}

/* ============ Navbar Background Color ============ */
@media (max-width: 767.98px) {
    .bg-navbar {
        background: #35354F;
    }
    #down-up-navbar-btn {
        border-color: #ffffff80;
    }
    #down-up-navbar-icon {
        color: #ffffff80;
    }
    #nav-link-Acceuil{
        color: #ffffffbb;
    }
    #nav-link-propos{
        color: #ffffffbb;
    }
    #nav-link-Contact{
        color: #ffffffbb;
    }
    #nav-link-Aide{
        color: #ffffffbb;
    }
}
@media (min-width: 767.98px) {
    .bg-navbar {
        background: #fff;
    }
    #down-up-navbar-btn {
        border-color: #00000060;
    }
    #nav-link-Acceuil{
        color: var(--dark);
    }
    #nav-link-propos{
        color: var(--dark);
    }
    #nav-link-Contact{
        color: var(--dark);
    }
    #nav-link-Aide{
        color: var(--dark);
    }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}