/* ###################### GENERAL TAGS ###################### */
body {
font-family: 'Rubik', sans-serif;
background: #fff;
}
h1 {
font-family: 'Rubik';
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
}
p {
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
}
/* ###################### RND GENERAL TAGS ###################### */


/* ###################### START NAVBAR ###################### */
.navbar-nav li{
    font-size: 16px;
    margin: 0 15px;
}
.navbar-nav li a{
    font-size: 16px;
}
.navbar-nav .dropdown-menu {
}
.navbar-nav .dropdown-menu a {
}
.navbar-nav .dropdown-menu a:hover {
}

.nav-link-active {
    font-weight: 500;
}

.bg-navbar {
    background: #35354F;
}
#down-up-navbar-btn {
    border-color: #ffffff80;
}
#down-up-navbar-icon {
    color: #ffffff80;
}
#nav-link-Acceuil{
    color: #ffffffbb;
}
#nav-link-propos{
    color: #ffffffbb;
}
#nav-link-Contact{
    color: #ffffffbb;
}
#nav-link-Aide{
    color: #ffffffbb;
}


/* Responsive Navbar color */
@media (max-width: 767.98px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

@media (min-width: 767.98px) {
    
    /* display 3 */
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}
/* ###################### END NAVBAR ###################### */


/* ###################### START SEARCH-BAR ###################### */
.search-bar {
    height: 70px;
    background: linear-gradient(90deg, #5227CC 0%, #7249E3 100%);
    border-radius: 10px;
    border: 0;
    padding: 10px;
}
.search-input {
    color: #FFF;
    border: 0;
    outline: 0;
    background: none;
    caret-color: #FFF;
    line-height: 40px;
    padding: 0 10px;
}

.search-icon {
    background: #00000000;
    color: #FFFFFF;
    height: 40px;
    margin-left: 1.5rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration:none;
    border: 0;
}
.search-icon:focus {
    outline: none;
    border: none;
}
.search-icon i {
    font-size: 18px;
}
.search-input::-webkit-input-placeholder {
  color: #e0e0e0;
}
.search-bar hr {
    border: 1px solid white;
    width: 95%;
}
/* ###################### END SEARCH-BAR ###################### */


/* ###################### START FOOTER ###################### */
footer {
    margin-top: 70px;
    background-color: #fff;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color: var(--dark);
}
footer hr {
    border-top-color:#bbb;
    opacity:0.5
}
footer hr.small {
    margin:20px 0
}
footer h6 {
    color: var(--cyan);
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
footer a {
    color: #EEEEEE;
}
footer a:hover {
    color: #f8f9fa;
    text-decoration: underline;
}
footer ul li {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    margin-top: 13px;
}
.footer-links {
    padding-left:0;
    list-style:none
}
.footer-links li {
    display:block
}
.footer-links.inline li {
    display:inline-block
}
.copyright-text {
    color: var(--light);
}
.copyright-text a {
    color: var(--cyan);
}
/* ###################### END FOOTER ###################### */


/* ###################### START CAROUSEL ###################### */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}
/* ###################### END CAROUSEL ###################### */


/* ###################### START COLORS ###################### */
.bg-purple-1 {
    background-color: #35354F;
}

.bg-purple-2 {
    background-color: #464685;
}

.bg-purple-3 {
    background-color: #4B4BC2;
}

.bg-purple-4 {
    background-color: #5227CC;
}

.bg-purple-5 {
    background-color: #7749F8;
}

.bg-purple-5-linear {
    background: linear-gradient(90deg, #5227CC 0%, #7249E3 100%);
}

.bg-purple-linear {
    background: linear-gradient(253.58deg, #A4508B 1.55%, #5F0A87 95.8%);
}


.text-purple-1 {
    color: #35354F;
}

.text-purple-2 {
    color: #464685;
}

.text-purple-3 {
    color: #4B4BC2;
}

.text-purple-4 {
    color: #5227CC;
}

.text-purple-5 {
    color: #7749F8;
}

.text-purple-linear {
    background: linear-gradient(253.58deg, #A4508B 1.55%, #5F0A87 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bg-white {
    background: #FFFFFF;
}

.text-white {
    color: #FFFFFF;
}


.bg-dark-1 {
    background: #222629;
}

.bg-dark-2 {
    background: #474A4F;
}

.bg-dark-3 {
    background: #6A6E71;
}

.bg-dark-4 {
    background: #CECFD1;
}

.text-dark-1 {
    color: #222629;
}

.text-dark-2 {
    color: #474A4F;
}

.text-dark-3 {
    color: #6A6E71;
}

.text-dark-4 {
    color: #CECFD1;
}


.bg-success {
    background: #28A745;
}

.text-success {
    color: #28A745;
}


.bg-danger {
    background: #DC3545;
}

.text-danger {
    color: #DC3545;
}


.bg-warning {
    background: #FFC107;
}

.text-warning {
    color: #FFC107;
}


.bg-info {
    background: #17A2B8;
}

.text-info {
    color: #17A2B8;
}
/* ###################### END COLORS ###################### */


/* ###################### START BUTTONS ###################### */
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

/* Purple-1 */
.btn-purple-1 {
    background-color: #35354F;
    color: #FFFFFF;
    border-color: #35354F;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-purple-1:hover {
    background-color: #29293e;
    color: #FFFFFF;
}

.btn-outline-purple-1 {
    background-color: #FFFFFF00;
    color: #35354F;
    border-color: #35354F;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-purple-1-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-purple-1:hover {
    background-color: #35354F;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Purple-2 */
.btn-purple-2 {
    background-color: #464685;
    color: #FFFFFF;
    border-color: #464685;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-purple-2:hover {
    background-color: #353573;
    color: #FFFFFF;
}

.btn-outline-purple-2 {
    background-color: #FFFFFF00;
    color: #464685;
    border-color: #464685;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-purple-2-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-purple-2:hover {
    background-color: #464685;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Purple-3 */
.btn-purple-3 {
    background-color: #4B4BC2;
    color: #FFFFFF;
    border-color: #464685;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-purple-3:hover {
    background-color: #3939a2;
    color: #FFFFFF;
}

.btn-outline-purple-3 {
    background-color: #FFFFFF00;
    color: #4B4BC2;
    border-color: #4B4BC2;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-purple-3-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-purple-3:hover {
    background-color: #4B4BC2;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Purple-4 */
.btn-purple-4 {
    background-color: #5227CC;
    color: #FFFFFF;
    border-color: #5227CC;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-purple-4:hover {
    background-color: #3b18a0;
    color: #FFFFFF;
}

.btn-outline-purple-4 {
    background-color: #FFFFFF00;
    color: #5227CC;
    border-color: #5227CC;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-purple-4-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-purple-4:hover {
    background-color: #5227CC;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Purple-5 */
.btn-purple-5 {
    background-color: #7749F8;
    color: #FFFFFF;
    border-color: #7749F8;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-purple-5:hover {
    background-color: #6a39f3;
    color: #FFFFFF;
}

.btn-outline-purple-5 {
    background-color: #FFFFFF00;
    color: #7749F8;
    border-color: #7749F8;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-purple-5-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-purple-5:hover {
    background-color: #7749F8;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Purple-Linear */
.btn-purple-linear {
    background: linear-gradient(253.58deg, #A4508B 1.55%, #5F0A87 95.8%);
    color: #FFFFFF;
    border-color: #A4508B;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-purple-linear:hover {
    background: linear-gradient(253.58deg, #82376b 1.55%, #500a71 95.8%);
    color: #FFFFFF;
}

.btn-outline-purple-linear {
    background: #FFFFFF00;
    color: #A4508B;
    border-color: #A4508B;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-purple-linear-bg-white {
    background: #FFFFFF;
}
.btn-outline-purple-linear:hover {
    background: linear-gradient(253.58deg, #A4508B 1.55%, #5F0A87 95.8%);
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* White */
.btn-white {
    background-color: #FFFFFF;
    color: #222629;
    border-color: #FFFFFF;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-white:hover {
    background-color: #181b1d;
    color: #FFFFFF;
}

.btn-outline-white {
    background-color: #22262900;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-white-bg-white {
    background-color: #222629;
}
.btn-outline-white:hover {
    background-color: #FFFFFF;
    border-color: #222629;
    color: #222629;
}


/* Dark */
.btn-dark {
    background-color: #222629;
    color: #FFFFFF;
    border-color: #222629;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-dark:hover {
    background-color: #181b1d;
    color: #FFFFFF;
}

.btn-outline-dark {
    background-color: #FFFFFF00;
    color: #222629;
    border-color: #222629;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-dark-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-dark:hover {
    background-color: #222629;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Success */
.btn-success {
    background-color: #28A745;
    color: #FFFFFF;
    border-color: #28A745;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-success:hover {
    background-color: #1a9436;
    color: #FFFFFF;
}

.btn-outline-success {
    background-color: #FFFFFF00;
    color: #28A745;
    border-color: #28A745;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-success-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-success:hover {
    background-color: #28A745;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Danger */
.btn-danger {
    background-color: #DC3545;
    color: #FFFFFF;
    border-color: #DC3545;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-danger:hover {
    background-color: #bf2937;
    color: #FFFFFF;
}

.btn-outline-danger {
    background-color: #FFFFFF00;
    color: #DC3545;
    border-color: #DC3545;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-danger-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-danger:hover {
    background-color: #DC3545;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Warning */
.btn-warning {
    background-color: #FFC107;
    color: #000000;
    border-color: #FFC107;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-warning:hover {
    background-color: #dca707;
    color: #000000;
}

.btn-outline-warning {
    background-color: #FFFFFF00;
    color: #FFC107;
    border-color: #FFC107;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-warning-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-warning:hover {
    background-color: #FFC107;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


/* Info */
.btn-info {
    background-color: #17A2B8;
    color: #FFFFFF;
    border-color: #17A2B8;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-info:hover {
    background-color: #0c879a;
    color: #FFFFFF;
}

.btn-outline-info {
    background-color: #FFFFFF00;
    color: #17A2B8;
    border-color: #17A2B8;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.btn-outline-info-bg-white {
    background-color: #FFFFFF;
}
.btn-outline-info:hover {
    background-color: #17A2B8;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
/* ###################### END BUTTONS ###################### */
